<!DOCTYPE html>
<html>
	<head>
		<title>Crea un insediamento</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron" id="app">
				<!-- SELECTOR -->
				<st-selector v-bind:steadings="steadings" v-bind:lang="lang" v-on:select="select($event)"></st-selector>

				<h1>{{ lang("steading" + selSteading.type + "button") }}</h1>
				<p>{{ lang("steading" + selSteading.type + "text") }}</p>
				<p>{{ lang("steading" + selSteading.type + "text2") }}</p>

				<!-- Choices -->
				<div class="row">
					<fieldset class="form-group col-6">
						<legend>{{ lang("options") }}</legend>
						<div class="form-check" v-for="(opt, index) in selSteading.options" >
							<label class="form-check-label">
								<input type="radio"
									v-on:change="choose('option', index)"
									class="form-check-input"
									name="selOption"
									:id="'selOption' + index"
									:value="index">
								{{ lang("option" + selSteading.type + index) }}
							</label>
						</div>
					</fieldset>
					<fieldset class="form-group col-6">
						<legend>{{ lang("problems") }}</legend>
						<div class="form-check" v-for="(opt, index) in selSteading.problems" >
							<label class="form-check-label">
								<input type="radio"
									v-on:change="choose('problem', index)"
									class="form-check-input"
									name="selProblem"
									:id="'selProblem' + index"
									:value="index">
								{{ lang("problem" + selSteading.type + index) }}
							</label>
						</div>
					</fieldset>
				</div>

				<!-- Render -->
				<st-render v-bind:steading="selSteading" v-bind:lang="lang"></st-render>
<!--


				<div class="form-group">
					<label for="resource">Risorsa</label>
					<input type="text" class="form-control" id="resource" placeholder="una spezia, un minerale, pesce, uva">
				</div>


				<div class="form-group">
					<label for="resource">Risorsa</label>
					<input type="text" class="form-control" id="resource" placeholder="una spezia, un minerale, pesce, uva">
				</div>

				<div class="form-group">
					<label for="oath">Giuramento verso</label>
					<input type="text" class="form-control" id="oath" placeholder="un'altro insediamento">
				</div>

				<hr>

				<div class="form-group">
					<textarea class="form-control" rows="10">
Prosperità: Povero - In vendita c'è solo lo stresso necessario
Popolazione: Stabile - La popolazione è in linea
Difese: Milizia
Risorsa: ???
Giuramento:
					</textarea>
				</div> -->
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="it.js"></script>
		<script src="script.js"></script>

	</body>
</html>