<!DOCTYPE html>
<html>
	<head>
		<title>Crea un insediamento</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<style>
			[v-cloak] { display: none }
		</style>
	</head>
	<body>
		<div class="container-fluid" id="app" v-cloak>
			<!-- SELECTOR -->
			<st-selector v-bind:steadings="steadings" v-bind:lang="lang" v-on:select="select($event)" v-on:language="language($event)"></st-selector>
			<div class="jumbotron">
				<h1>{{ lang("steading" + selSteading.type + "button") }}</h1>
				<p>{{ lang("steading" + selSteading.type + "text") }}</p>
				<p>{{ lang("steading" + selSteading.type + "text2") }}</p>

				<!-- Choices -->
				<div class="row">
					<fieldset class="form-group col-6">
						<legend>{{ lang("options" + selSteading.type) }}</legend>
						<div class="form-check" v-for="(opt, index) in selSteading.options" >
							<label class="form-check-label">
								<input type="radio"
									v-on:change="choose('option', index)"
									class="form-check-input"
									name="selOption"
									:id="'selOption' + index"
									:value="index">
								{{ lang("option" + selSteading.type + index) }}
							</label>
						</div>
					</fieldset>
					<fieldset class="form-group col-6">
						<legend>{{ lang("problems") }}</legend>
						<div class="form-check" v-for="(opt, index) in selSteading.problems" >
							<label class="form-check-label">
								<input type="radio"
									v-on:change="choose('problem', index)"
									class="form-check-input"
									name="selProblem"
									:id="'selProblem' + index"
									:value="index">
								{{ lang("problem" + selSteading.type + index) }}
							</label>
						</div>
					</fieldset>
				</div>

				<!-- Render -->
				<st-render v-bind:steading="selSteading" v-bind:lang="lang"></st-render>
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="it.js"></script>
		<script src="en.js"></script>
		<script src="script.js"></script>

	</body>
</html>